@model IEnumerable<Oauth.Models.Project>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (User.IsInRole("Manager"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if (User.IsInRole("Manager"))
                {
                   <span class="btn btn-primary bg-white"> @Html.ActionLink("Edit", "Edit", new { id = item.ProjectId })</span>
                   <span class="btn btn-danger bg-white">
                       @Html.ActionLink("Delete", "Delete", new { id = item.ProjectId })</span>

                       }

            <span class="btn btn-primary bg-white">  @Html.ActionLink("Details", "Details", new { id = item.ProjectId }) </span>

</td>
        </tr>
    }

</table>
