@model IEnumerable<Oauth.Models.Bug>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (User.IsInRole("QA"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.project.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deadline)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.project.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deadline)
            </td>
            <td>
                @if (User.IsInRole("QA"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.BugId })
                    @Html.ActionLink("Delete", "Delete", new { id = item.BugId })
                }

                @Html.ActionLink("Details", "Details", new { id = item.BugId })

            </td>
        </tr>
    }

</table>
