
    @Html.ActionLink("Bugzilla", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                @if (User.Identity.IsAuthenticated)
                {
                    <li> @Html.ActionLink("Projects", "Index", "Projects", new { area = "" }, new { @class = "nav-link" })</li>
                         @Html.ActionLink("Bugs", "Index", "Bugs", new { area = "" }, new { @class = "nav-link" })
                         @Html.ActionLink("Logout", "Logout", "Login", new { area = "" }, new { @class = "nav-link" })
                         if (User.IsInRole("Manager"))
                    {
                        @Html.ActionLink("Create Users", "Index", "Users", new { area = "" }, new { @class = "nav-link" })
                    }

                }
                else
                {
                    @Html.ActionLink("Login", "Login", "Login", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Registeration", "Register", "Login", new { area = "" }, new { @class = "navbar-brand" })

                }
           </li>
        </ul>
    </div>
